parameters:
    level: 6
    paths:
        - index.php
        - src/
        - lang/
    excludePaths:
        - assets/
        - templates/
    bootstrapFiles:
        - ../dbcon.php
        - ../secrets.php
        - src/I18n.php
        - src/Router.php
        - src/PluginRepository.php
        - src/UserRepository.php
        - src/Auth.php
        - src/PasswordReset.php
        - src/Csrf.php
        - ../crons/src/UploadRepository.php
        - ../crons/rabbitmq.php
        - src/SiteSettingRepository.php
        - src/RunnerRepository.php
        - src/RabbitMqInfo.php
        - src/PluginResultRepository.php
        - src/CronRunRepository.php
        - src/WpCompatRepository.php
        - ../crons/src/CronLogger.php
